* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	color: white;
	font-family: VT323, serif;
}

#webgl {
	position: fixed;
	inset: 0;
	outline: none;

	width: 100% !important;
	height: 100% !important;
	image-rendering: pixelated;
}

.horloge-screen {
	position: relative;
	width: 63px;
	height: 27px;
	background-color: black;
	color: #e20314;
	overflow: hidden;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	transform: scale(2);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.computer-screen {
	position: relative;
	width: 150px;
	height: 83px;
	background-color: rgb(34, 135, 174);
	color: black;
	font-size: 10px;
	/* line-height: 10px; */
	overflow: hidden;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	transform: scale(2);
	/* filter: blur(1px); */
}

.overlay {
	opacity: 0;
	position: fixed;
	top: 24px;
	left: 24px;
	display: block;
	z-index: 1;

	.score {
		background-color: #150f00c1;
		display: flex;
		align-items: center;
		gap: 16px;
		padding: 8px 32px;
		font-size: 42px;
	}
}

.wallpaper {
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.day-1-wallpaper {
	background-image: url('/wallpaper-wo-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bottom-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	padding: 2px 3px;
	box-sizing: border-box;
	background-color: #1d1500;
}

.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2px;
	padding-right: 6px;
	box-sizing: border-box;
	width: fit-content;
}

.icon {
	display: flex;
	width: 4px;
	height: 4px;
	object-fit: contain;
}

.title {
	font-family: VT323, serif;
	font-size: 5px;
	color: white;
	width: 100%;
}

.activityContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.activityContainer .notification {
	top: 10%;
	left: 10%;
	position: absolute;
	width: 30%;
	height: 70%;
	transform: scale(0);
}

.activityContainer .activity {
	top: 5%;
	left: 3%;
	position: absolute;
	width: 55%;
	height: 80%;
	transform: scale(0);
	display: flex;
	flex-direction: column;
}

.activityContainer .buttons {
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%) scale(0);
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.activityContainer .buttons .btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 2px;
}

.activityContainer .buttons .btn .btn-icon {
	width: 8px;
	height: 8px;
	filter: saturate(0) brightness(3);
}

.activityContainer .buttons .btn .text {
	font-size: 6px;
	color: white;
	padding: 1px 5px;
	background-color: #150f00;
}

.activityContainer .activity canvas {
	width: 100%;
	height: 40px;
	margin-top: -2px;
}

.activityContainer .activity .top {
	width: 100%;
}

.activityContainer .activity .bottom {
	width: 100%;
	display: flex;
}

.activityContainer .activity .bottom img {
	width: 80%;
}

.activityContainer .activity .bottom .number {
	background-color: green;
	font-size: 10px;
	text-align: center;
	width: 20%;
	color: white;
	padding-top: 2px;
}

.activityContainer .notification img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.activityContainer .completed,
.activityContainer .failed {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.activityContainer .completed img,
.activityContainer .failed img {
	width: 100%;
}

.activityContainer .completed img:nth-child(2) {
	width: 70%;
}

.call .activity {
	background-color: #1e1e1e;
	padding: 1px;
	box-sizing: border-box;
}

.call-members {
	display: flex;
	flex-direction: column;
	gap: 1px;
	height: 100%;
}

.call-members .row {
	display: flex;
	flex-direction: row;
	gap: 1px;
	height: 50%;
}

.row.up {
	height: 80%;
}

.call-members .call-item {
	display: flex;
	width: 50%;
	position: relative;
	inset: 0;
	overflow: hidden;
	box-sizing: border-box;
	border: 0.5px solid transparent;
}

.call-members .call-item .head {
	z-index: 1;
}

.call-members .call-item .call-item-title {
	position: absolute;
	color: white;
	padding: 0.5px 0.8px;
	box-sizing: border-box;
	left: 0;
	bottom: 0;
	font-family: VT323, serif;
	font-size: 1.4px;
	background-color: black;
	z-index: 2;
	width: fit-content;
}

.call-members .call-item .office-background {
	z-index: 0;
}

.call-members .call-item img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform-origin: center top;
	transform: scale(1.4);
}

.activityContainer.call .bottom {
	gap: 1px;
	justify-content: center;
	padding-top: 0.5px;
}

.activityContainer.call .bottom .cta {
	width: 4px;
	height: 4px;
	object-fit: contain;
	background-color: #3deb5d;
	padding: 0 0.5px;
	border-radius: 1.5px;
	opacity: 0.5;
}

.activityContainer.call .bottom .logos {
	width: 17px;
	height: 4px;
	object-fit: contain;
}

.subtitle {
	/* opacity: 0; */
	position: fixed;
	bottom: 100px;
	left: 0;
	right: 0;
	width: 80%;
	margin: auto;
	font-size: 42px;
	z-index: 10;
	user-select: none;

	background-color: #150f00c1;
	padding: 8px 24px;

	text-transform: uppercase;
	text-align: center;
}

.qte {
	display: flex;
	gap: 24px;
	position: fixed;
	bottom: 200px;
	left: 0;
	right: 0;
	justify-content: center;
	opacity: 0;
	transition: 1s;
	pointer-events: none;

	img {
		transition: 1s;
		width: 64px;
	}
}

.next {
	position: fixed;
	bottom: 50px;
	right: 75px;
	width: 64px;
	height: 64px;
	transition: 0.5s;
	opacity: 0;

	animation: pulse 1s infinite steps(1);

	z-index: 999999999;
}

.hide-element {
	img {
		transition: 0.5s ease-in-out;
		transform: rotate(10deg) scale(0.5);
	}
}

.hidden {
	opacity: 0;
}

.start-menu {
	pointer-events: none;
	background-color: #150f00c8;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.start-menu-logo {
	width: 50%;
	max-width: 700px;
	margin-bottom: 10rem;

	transform: rotate(-3deg);

	img {
		width: 100%;
	}
}

.start-menu-cta {
	height: 1.75rem;
	font-size: 1.75rem;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	text-transform: uppercase;

	img {
		height: 100%;
		animation: btnCTA 1.5s infinite;
	}
}

.day {
	pointer-events: none;
	opacity: 0;
	position: fixed;
	background-color: #fcb637;
	width: 100%;
	height: 100%;
	z-index: 999;
	top: 0;
	left: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;

	.bg-wrapper {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: rotate(5deg);

		.bg {
			width: calc(100vw + 960px);
			height: calc(100vh + 960px);
			background-color: #fcb637;
			background-image: url('/textures/dollar.svg');
			background-size: 240px;
			background-repeat: repeat;
			animation: bgMoving 2s infinite linear;
		}
	}

	.day-content {
		z-index: 1;
		margin-bottom: 6rem;
	}

	.day-title {
		color: #150f00;
		opacity: 0.88;
		mix-blend-mode: hard-light;
		text-align: center;
		width: 100%;
		font-size: 20rem;
	}

	.role-title {
		white-space: nowrap;
		display: flex;
		align-items: baseline;
		gap: 1rem;
		color: white;
		font-size: 10rem;
		background-color: #150f00;
		padding: 0px 36px;
		width: fit-content;
		position: absolute;
		transform: translate(-50%, -50%) rotate(-3deg);
		left: 50%;
		bottom: 0;
		z-index: 3;
	}

	.ke-title {
		white-space: nowrap;
		display: flex;
		align-items: baseline;
		gap: 1rem;
		color: white;
		font-size: 10rem;
		background-color: #150f00;
		padding: 0px 36px;
		width: fit-content;
		position: absolute;
		transform: translate(-50%, -50%) rotate(-3deg);
		left: 50%;
	}
}

.gameover {
	pointer-events: none;
	opacity: 0;
	background-color: #150f00c8;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
	width: 100%;
	height: 100%;

	.ke-title {
		white-space: nowrap;
		display: flex;
		align-items: baseline;
		gap: 3rem;
		color: white;
		font-size: 17.5rem;
		font-weight: 400;
		width: fit-content;
		left: 50%;
	}

	.ke-end {
		text-transform: uppercase;
		text-align: center;
		font-size: 2rem;
		width: 75%;
		max-width: 1000px;
	}
}

.gameover-cta {
	height: 1.75rem;
	font-size: 1.75rem;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	text-transform: uppercase;

	img {
		height: 100%;
		animation: btnCTA 1.5s infinite;
	}
}

.gameover-title-wrapper {
	position: relative;
}

.gameover-title {
	position: absolute;
	transform: translate(-50%, -25%) rotate(-1deg);
	left: 50%;
	top: 0;
	white-space: nowrap;
	text-transform: uppercase;
	color: white;
	font-size: 5rem;
	font-weight: 400;
	width: fit-content;
	background-color: #fe0d0d;
}

@keyframes bgMoving {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(240px, -240px);
	}
}

@keyframes btnCTA {
	0%,
	100% {
		transform: scale(1) rotate(-3deg);
	}
	50% {
		transform: scale(1.1) rotate(12deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
