* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	font-family: sans-serif;
	color: white;
}

#webgl {
	position: fixed;
	inset: 0;
	outline: none;

	width: 100% !important;
	height: 100% !important;
	image-rendering: pixelated;
}

.computer-screen{
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	height: 195px;
	background-color: white;
	color: black;
	font-size: 20px;

	/* transform-origin: center center; */
}
