* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	color: white;
	font-family: VT323, serif;
}

#webgl {
	position: fixed;
	inset: 0;
	outline: none;

	width: 100% !important;
	height: 100% !important;
	image-rendering: pixelated;
}

.computer-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 83px;
	background-color: white;
	color: black;
	font-size: 10px;
	overflow: hidden;
	image-rendering: pixelated;

	/* transform-origin: center center; */
}

.subtitle {
	position: fixed;
	bottom: 100px;
	left: 0;
	right: 0;
	width: 80%;
	margin: auto;
	font-size: 32px;
	font-family: "Times New Roman", serif;
	color: #F5E082;
	font-style: italic;
	text-align: center;
	text-wrap: balance;
	text-shadow: 1px 1px 2px #000,
	-1px 1px 2px #000,
	-1px -1px 0 #000,
	1px -1px 0 #000;

	span {
		/*background: rgba(0,0,0,.5);*/

	}
}

.qte {
	display: flex;
	gap: 24px;
	position: fixed;
	bottom: 200px;
	left: 0;
	right: 0;
	justify-content: center;
	opacity: 0;
	transition: 1s;

	img {
		transition: 1s;
		width: 64px;
	}

}
