* {
	margin: 0;
	padding: 0;
}

html,
body {
	overflow: hidden;
	color: white;
	font-family: VT323, serif;
}

#webgl {
	position: fixed;
	inset: 0;
	outline: none;

	width: 100% !important;
	height: 100% !important;
	image-rendering: pixelated;
}

.computer-screen {
	position: relative;
	width: 150px;
	height: 83px;
	background-color: rgb(34, 135, 174);
	color: black;
	font-size: 10px;
	/* line-height: 10px; */
	overflow: hidden;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	transform: scale(2);
	/* filter: blur(1px); */
}

.wallpaper {
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.graph {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.graph .notification {
	top: 20%;
	left: 10%;
	position: absolute;
	width: 30%;
	height: 50%;
	transform: scale(0);
}

.graph .activity {
	top: 5%;
	left: 3%;
	position: absolute;
	width: 55%;
	height: 80%;
	transform: scale(0);
}

.graph .activity canvas {
	width: 100%;
	height: 40px;
	margin-top: -2px;
}

.graph .activity .top {
	width: 100%;
	/* position: absolute; */
}

.graph .activity .bottom {
	width: 100%;
	display: flex;
	margin-top: -2px;
}

.graph .activity .bottom img {
	width: 80%;
}

.graph .activity .bottom .number {
	background-color: green;
	font-size: 10px;
	text-align: center;
	width: 20%;
	color: white;
	padding-top: 2px;
}

.graph .notification img {
	width: 100%;
}

.graph .completed {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

.graph .completed img {
	width: 100%;
}

.graph .completed img:nth-child(2) {
	width: 70%;
}

.call {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	display: none;
}

.call .notification {
	top: 20%;
	left: 10%;
	position: absolute;
	width: 30%;
	height: 50%;
}

.call .activity {
	top: 5%;
	left: 3%;
	position: absolute;
	width: 55%;
	height: 80%;
	/* background-color: red; */
}

.call .notification img {
	width: 100%;
}

.mail {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	display: none;
}

.mail .notification {
	top: 20%;
	left: 10%;
	position: absolute;
	width: 30%;
	height: 50%;
}

.mail .activity {
	top: 5%;
	left: 3%;
	position: absolute;
	width: 55%;
	height: 80%;
	/* background-color: red; */
}

.mail .notification img {
	width: 100%;
}

.subtitle {
	position: fixed;
	bottom: 100px;
	left: 0;
	right: 0;
	width: 80%;
	margin: auto;
	font-size: 32px;
	font-family: 'Times New Roman', serif;
	font-weight: 500;
	color: #f5e082;
	/* color: #ffcd38; */
	font-style: italic;
	text-align: center;
	text-wrap: balance;
	text-shadow: 1px 1px 2px #000, -1px 1px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000;
	z-index: 10;
	user-select: none;

	span {
		/*background: rgba(0,0,0,.5);*/
	}
}

.qte {
	display: flex;
	gap: 24px;
	position: fixed;
	bottom: 200px;
	left: 0;
	right: 0;
	justify-content: center;
	opacity: 0;
	transition: 1s;
	pointer-events: none;

	img {
		transition: 1s;
		width: 64px;
	}
}

.next {
	position: fixed;
	bottom: 50px;
	right: 75px;
	width: 64px;
	height: 64px;
	transition: 0.5s;
	opacity: 0;

	animation: pulse 1s infinite steps(1);
}

.hide-element {
	img {
		transition: 0.5s ease-in-out;
		transform: rotate(10deg) scale(0.5);
	}
}

.hidden {
	visibility: hidden !important;
	opacity: 0 !important;
}

.start {
	pointer-events: none;
	background-color: #150f00c8;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.start__logo {
	width: 50%;
	max-width: 700px;
	margin-bottom: 10rem;

	transform: rotate(-3deg);

	img {
		width: 100%;
	}
}

.start__cta {
	height: 1.75rem;
	font-size: 1.75rem;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	text-transform: uppercase;

	img {
		height: 100%;
		animation: btnCTA 1.5s infinite;
	}
}

.day {
	pointer-events: none;
	position: fixed;
	background-color: #fcb637;
	width: 100%;
	height: 100%;
	z-index: 999;
	top: 0;
	left: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;

	.bg__wrapper {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: rotate(5deg);

		.bg {
			width: calc(100vw + 960px);
			height: calc(100vh + 960px);
			background-color: #fcb637;
			background-image: url('/textures/dollar.svg');
			background-size: 240px;
			background-repeat: repeat;
			animation: bgMoving 2s infinite linear;
		}
	}

	.day__content {
		z-index: 1;
		margin-bottom: 6rem;
	}

	.day-title {
		color: #150f00;
		opacity: 0.88;
		mix-blend-mode: hard-light;
		text-align: center;
		width: 100%;
		font-size: 20rem;
	}

	.ke-title {
		white-space: nowrap;
		display: flex;
		align-items: baseline;
		gap: 1rem;
		color: white;
		font-size: 10rem;
		background-color: #150f00;
		padding: 0px 36px;
		width: fit-content;
		position: absolute;
		transform: translate(-50%, -50%) rotate(-3deg);
		left: 50%;
	}
}

.gameover {
	pointer-events: none;
	background-color: #150f00c8;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
	width: 100%;
	height: 100%;

	.ke-title {
		white-space: nowrap;
		display: flex;
		align-items: baseline;
		gap: 3rem;
		color: white;
		font-size: 17.5rem;
		font-weight: 400;
		width: fit-content;
		left: 50%;
	}

	.ke-end {
		text-transform: uppercase;
		text-align: center;
		font-size: 2rem;
		width: 75%;
		max-width: 1000px;
	}
}

.gameover__cta {
	height: 1.75rem;
	font-size: 1.75rem;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	text-transform: uppercase;

	img {
		height: 100%;
		animation: btnCTA 1.5s infinite;
	}
}

.gameover__title__wrapper {
	position: relative;
}

.gameover__title {
	position: absolute;
	transform: translate(-50%, -25%) rotate(-1deg);
	left: 50%;
	top: 0;
	white-space: nowrap;
	text-transform: uppercase;
	color: white;
	font-size: 5rem;
	font-weight: 400;
	width: fit-content;
	background-color: #fe0d0d;
}

@keyframes bgMoving {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(240px, -240px);
	}
}

@keyframes btnCTA {
	0%,
	100% {
		transform: scale(1) rotate(-3deg);
	}
	50% {
		transform: scale(1.1) rotate(12deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
